<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestShipmentPortal.UserInput2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TestShipmentPortal.UserInput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="V3BookingSoap" />
      </basicHttpBinding>
      <customBinding>

        <binding name="V3BookingSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="1000000" maxReceivedMessageSize="1000000"
            maxBufferSize="1000000" />
        </binding>
        
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://77.66.63.149/Services/Public/V3/Booking.asmx"
        binding="basicHttpBinding" bindingConfiguration="V3BookingSoap"
        contract="BookingPortalV3.V3BookingSoap" name="V3BookingSoap" />
      <endpoint address="http://77.66.63.149/Services/Public/V3/Booking.asmx"
        binding="customBinding" bindingConfiguration="V3BookingSoap12"
        contract="BookingPortalV3.V3BookingSoap" name="V3BookingSoap12" />
    </client>
  </system.serviceModel>

  <userSettings>
    <TestShipmentPortal.UserInput2>
      <setting name="RequestV2" serializeAs="String">
        <value />
      </setting>
    </TestShipmentPortal.UserInput2>
    <TestShipmentPortal.UserInput>
      <setting name="AccessUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessPassword" serializeAs="String">
        <value />
      </setting>
    </TestShipmentPortal.UserInput>
  </userSettings>
</configuration>